.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Dataviz-wide {
  width: 100%;
  height: auto;
}

.Dataviz-medium {
  max-width: 1366px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Dataviz-small {
  max-width: 960px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Dataviz-narrow {
  max-width: 640px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Dataviz-tiny {
  width: 150%;
  height: auto;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.Content-container {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.MapRegional {
  max-width: 860px;
  width: 100%;
  height: auto;
}

.figure {
  margin: 0 24px 24px 0;
}

.cover {
  width: 100%;
  height: auto;
  margin: 0;
}

.half-column {
  width: 50%;
}

.onethird-column {
  width: 33%;
}

/* Style formatting */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap");

html {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

section {
  padding: 56px 0px;
}
