.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Dataviz-wide {
  width: 100%;
  height: auto;
}

.Dataviz-medium {
  max-width: 1366px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Dataviz-small {
  max-width: 960px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Dataviz-narrow {
  max-width: 640px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.MapRegional {
  max-width: 860px;
  width: 100%;
  height: auto;
}
